{# templates/carrito/ver_carrito.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrito de Compras</h1>
    
    {% for item in carrito.getItems() %}
        <p>{{ item.getProducto().Nombre }} - Cantidad: {{ item.getCantidad() }} - Precio: {{ item.getProducto().getPrecio() }}</p>
    {% endfor %}
    
    <p>Total: {{ totalCarrito(carrito) }}</p>
{% endblock %}
